<p id="notice"><%= notice %></p>

<h1>Listing Captures</h1>

<table>
  <thead>
    <tr>
      <th>Empleado</th>
      <th>Incident</th>
      <th>Fecha inicial</th>
      <th>Fecha final</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleado.captures.each do |c| %>
      <tr>
        <li>
    <%= c.empleado.num_empleado.to_s.rjust(6, '0')%> -  
    <%= c.empleado.nombre + " "+c.empleado.apellido_materno + " "+c.empleado.apellido_paterno%> |   
    <%= c.incident.cod.to_s.rjust(2, '0')%> | 
    <%= c.fecha_inicial.strftime("%d/%m/%Y")%> | 
    <%= c.fecha_final.strftime("%d/%m/%Y")%> | 
    
    <%if c.vacation.try(:id)%>
      <%  periodo = "#{c.vacation.period.to_s.rjust(2, '0')}/#{c.vacation.year}"%>
      <%= periodo %>
    <%end%>
       
    
       </li> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

