= simple_form_for @empleado, html: { multipart: true } do |f|
  - if @empleado.errors.any?
    #errors
      %h2
        = pluralize(@empleado.errors.count, "error")
        precented this centro from saving
        %ul
          - @empleado.error.full_messages.each do |msg|
            %li = msg
  
  .form-group
    = f.input :num_empleado, input_html: { class: 'form-control'}
  .form-group
    = f.input :nombre, input_html: { class: 'form-control'}  
  .form-group
    = f.input :apellido_paterno, input_html: { class: 'form-control'}   
  .form-group
    = f.input :apellido_materno, input_html: { class: 'form-control'}  
  .form-group
    = f.collection_select :centro_id, Centro.order('centro_iden ASC'), :id, :name_with_desc, include_blank: 'Selecciona un Centro de trabajo...', class: 'form-control'
  .form-group
    = f.collection_select :departamento_id, Departamento.order('dpto_descripcion ASC'), :id, :dpto_descripcion, include_blank: 'Selecciona un departamento...', class: 'form-control'
  .form-group
    = f.collection_select(:puesto_id, Puesto.order('name ASC'), :id, :name, include_blank: 'Selecciona un Puesto...', class: 'form-control')
  .form-group
    Turno Opcional?
    = f.check_box :turno_id, {:class=>"checkbox"}, "true", "false"
  .form-group
    Empleado No Activo
    = f.check_box :activo, {:class=>"checkbox"}, "true", "false"
  
   
  =f.button :submit, remote: true ,class: 'btn btn-primary'

