%p#notice= notice
 
.panel.panel-default
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Empleado No.
        %th Nombre
        %th
          = form_tag(empleados_path, :method => "get", id: "search-form") do
            = text_field_tag :search, params[:search], placeholder: "Buscar Empleado"
            = submit_tag "Buscar", :name => nil
        %th{:colspan => "1"}
    %tbody
      
      - @empleados.each do |empleado|
        -if !empleado.activo
          %tr
            %td= link_to empleado.num_empleado.to_s.rjust(6, '0'), empleado, remote: true
            %td
              - nombre_completo = "#{empleado.nombre} #{empleado.apellido_paterno} #{empleado.apellido_materno}"
              = link_to nombre_completo, empleado
            %td 
      
            
            
= render 'dialog' 
%br/
= link_to 'Nuevo Empleado', new_empleado_path, remote:true




