<p id="notice"><%= notice %></p>

<p>
  <strong>Centro iden:</strong>
  <%= @centro.centro_iden %>
</p>

<p>
  <strong>Centro descripcion:</strong>
  <%= @centro.centro_descripcion %>
</p>

<%= link_to 'Edit', edit_centro_path(@centro) %> |
<%= link_to 'Back', centros_path %>
